<footer class="mt-3 text-center">
    Developed by <a href="https://www.facebook.com/Sys32.101">Richard Jumalon</a>. All Rights Reserved &copy; <%= new Date().getFullYear() %>
</footer>
<script src="https://kit.fontawesome.com/1637c63ca9.js" crossorigin="anonymous"></script>
<script>
    
</script>